@import './Components/Button.scss';

body {
    margin: 0;
    padding: 0;
  }
  .main {
      height: 500px;
      width: 100%;
      background-color: orange;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
  }
  .ins {
      background-color: red;
      width: 100%;
      height: 100px;
  }